.hero-dark {
    background-color: #212529;
}

.hero-dark a,
.hero-dark a:hover,
.hero-dark a:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .nav-link {
    color: rgba(255,255,255,.75);
    font-weight: 600;
}
.navbar .nav-link.active,
.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
}

.container-xl {
    max-width: 1280px;
}
.display-2 { letter-spacing: .5px; }

@media (min-width: 1200px) {
    .hero-dark .form-control-lg { height: calc(2.875rem + 2px); }
}

.form-text { font-size: .95rem; }
