.container-lg {
    max-width: 1280px;
}

.navbar .nav-link {
    color: rgba(255, 255, 255, .75);
    font-weight: 600;
}
.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
    color: #fff;
}


.display-2 {
    letter-spacing: .4px;
}

@media (min-width: 1200px) {
    .form-control-lg {
        height: calc(2.875rem + 2px);
    }
}

.bg-hero {
    background-color: #212529; /* как у примера */
    color: #fff;
}

.bg-hero .form-text {
    color: rgba(255, 255, 255, .6) !important;
}

.bg-hero a,
.bg-hero a:hover,
.bg-hero a:focus {
    color: #fff;
    text-decoration: none;
}
